{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
<div class="background-picture position-relative text-white">
    <div class="layer d-flex flex-column align-items-center justify-content-center position-absolute">
        <h1 class="text-center mx-5">Welcome to the Hospital Management System</h1>
        <p class="my-2">Arrange appointed with the doctor with ease</p>
        {% if request.user.is_authenticated %}
            <a href="{% url 'patient-list' %}" class="btn btn-primary px-5 py-3 mt-5">Patient List</a>
        {% else %}
            <a href="{% url 'patient-form' %}" class="btn btn-primary px-5 py-3 mt-5">Appointment Form</a>
        {% endif %}
    </div>
</div>
{% endblock %}